@font-face {
    font-family: "Simplifica";
    src: url("fonts/simplifica_typeface-webfont.eot");
    src: 
    url("fonts/simplifica_typeface-webfont.woff") format("woff"),
    url("fonts/simplifica_typeface-webfont.ttf") format("ttf"),
    url("fonts/simplifica_typeface-webfont.svg") format("svg");
    }
.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .flex-Invis{
      display:flex;
  }
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center
}
.flex-submit{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.flex-Summary{
    display: flex;
    justify-content: flex-start
}
.break-line{
    background: grey;
    width:400px;
    height:2px;
}
#container {
    font-family: Simplifica;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background: linear-gradient(blue,white);
    color: white;
    width: 600px;
    height: 850px;
    margin: auto;
    border-radius: 10px;
    justify-content: center
  }
#text-field {
	font-family: 'Agency FB';
	font-size: 2vmin;
	height: 30px;
	width: 170px;
	text-align: center;
	background-color: white;
	margin-bottom: 10px;
	border: 0px solid;
}
#BoulderResultsContainer{
    background-color:black;
    color: rgb(0, 0, 0);
    width: 400px;
    height: 70px;
    border-radius: 10px;
    margin:5px;
    line-height: 15px;
}
#BoulderResultsContainerLeft{
    background-color:Black;
    color: White;
    width: 130px;
    height: 70px;
    border-radius: 10px;
    line-height: 15px;
}
#BoulderResultsContainerRight{
    background-color:white;
	text-align:center;
	font-size: 30px;
    color: White;
    width: 270px;
    height: 70px;
    border-radius: 10px;
    line-height: 15px;
}
#SummaryContainer{
    color: white;
    width: 400px;
    height: 120px;
    margin-top: 100px;
    border-radius: 10px;
}
#SummaryContainerUpper{
    color: white;
    width: 400px;
    height: 25px;
    border-radius: 10px;
    margin-bottom: 5px;
    justify-content: center;
    align-content: center;
}
#SummaryContainerRight{
    color: white;
    width: 300px;
    height: 120px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top:10px;
    justify-content: center;
    align-content: center;
}
#ResultTopContainer{
    color: white;
    width: 400px;
    height: 25px;
    margin: 20px;
    justify-content: center
}
#ResultBotContainer{
    color: white;
    width: 400px;
    height: 50px;
    justify-content: center
}
#InvisibleContainer{
    width: 400px;
    height: 170px;
    font-size: 25px;
    border-radius: 10px;
    margin-bottom: 5px
}
#InvisibleContainerForecast{
    width: 550px;
    height: 300px;
    font-size: 25px;
    border-radius: 10px;
    margin-bottom: 5px
}
.forecastContainer{
    width: 110px;
    height:300px;
    font-size: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center
}
#LackBreakLine{
    background: grey;
    width:400px;
    height:2px;
    margin: 30px;
}
#InvisConLeft1{
    width: 200px;
    height: 170px;
    font-size: 22.5px;
    justify-content: center;
}
#InvisConLeft2{
    width: 200px;
    height: 170px;
    font-size: 22.5px;
    justify-content: center;
}
#InvisConRight1{
    width: 200px;
    height: 170px;
    font-size: 22.5px;
    justify-content: center;
}
#InvisConRight2{
    width: 200px;
    height: 170px;
    font-size: 22.5px;
    justify-content: center;
}
#bot-box{ 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 600px;
    height: 100px;
    border-radius: 5px;
}
.top-box{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 600px;
    height: 350px;
    font-size: 16px;
}

.button {
    border: 0px solid;
    background-color: white;
    font-size: 25px;
    font-family: Simplifica;
    line-height: 30px;
    padding: 20px;
    border-radius: 30px;
    opacity: 1;
    transition: all 0.5s;
    cursor: pointer;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.button span:after {
    font-family: Simplifica;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 25px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}
#inner-up-Box{
    background: black;
    width: 400px;
    height: 75px;
    border-radius: 5px;
    font-size: 16px;
}
#innerBox{
    background: black;
    width: 400px;
    height: 75px;
}
#header{
    width: 600px;
    height: 70px;
    margin-bottom: 10px;
}
#BackButtonContainer{
    width:95px;
    height:35px;
}
.BackButton{
    font-family: Simplifica;
    width:90px;
    height:60px;
    font-size: 16px;
    margin-top:10px;
    margin-left:5px;
    background: white;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    border: 0px solid;
}
.BackButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.BackButton span:after {
    font-family: Simplifica;
    content: '\0ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -50px;
    transition: 0.5s;
}

.BackButton:hover span {
    padding-left: 25px;
    opacity: 1;
}

.BackButton:hover span:after {
    opacity: 1;
    right: 0;
}
