/*
body {
  background-color: lightskyblue;
  text-align: center;
  color: white;
}
body {
    padding: 20px;
  }

.top-box{width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background: rgba(99, 74, 168, 0.15);
    padding: 30px;
    -webkit-box-shadow: 0 1px 2px rgba(94, 84, 84, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(94, 84, 84, 0.15);
    box-shadow: 0 1px 2px rgba(94, 84, 84, 0.15);
    border-radius: 5px;
    
}

.white-box { width: 300px; height: 500px; margin-left: auto; margin-right: auto;   
    background: rgba(255,255,255,0.9);
    padding: 30px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    }
*/
.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
.flex-containerTop{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
.flex-containerMid{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
.flex-submit{
    display: flex;
    justify-content: center;
    flex-direction: wrap;
    flex-direction: column;
    align-items: center
}
#container {
    background-color: lightskyblue;
    justify-content: center;
    color: white;
    width: 600px;
    height: 700px;
    margin: auto;
    border-radius: 10px
  }
.white-box{ background: rgba(255,255,255,0.9); 
    width: 300px; 
    height: 500px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
#top-box{
    background: rgba(15, 186, 183, 0.9);
    width: 500px;
    height: 150px;
    border-radius: 5px;
    margin: 50px;
}
button {
    position: inline-block;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: salmon;
    border: none;
}
button:hover {
    background: lightsalmon;
}