.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
.flex-containerTop{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
.flex-containerMid{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
.flex-submit{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
#container {
    background-color: lightskyblue;
    color: white;
    width: 600px;
    height: 700px;
    margin: auto;
    border-radius: 10px;
    justify-content: center

  }
#BoulderResultsContainer{
    background-color: rgb(14, 199, 245);
    color: white;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    justify-content: flex-end;
    margin:5px
}
#ResultTopContainer{
    background-color: rgb(245, 14, 245);
    color: white;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    justify-content: center
}
#ResultBotContainer{
    background-color: rgb(245, 14, 26);
    color: white;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    justify-content: center
}
#InvisibleContainer{
    width: 400px;
    height: 170px;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 5px
}
#bot-box{ 
    background: rgba(15, 186, 183, 0.9);
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 50px;
}
#top-box{
    background: rgba(15, 186, 183, 0.9);
    width: 300px;
    height: 150px;
    border-radius: 5px;
    margin: 20px;
    font-family: courier;
}
#button {
    margin: 50px;
    line-height: 30px;
    padding: 20px;
    background: salmon;
    border-radius: 5px;
    font-family: Arial
}
button:hover {
    background: lightsalmon;
}